  .logo {
    position: absolute;
    left: 100px;
    transform: translateX(-50%);
  }

  .menu_list {
    padding-top: 20px;
    position: relative;
    text-align: center;
  }

  .menu_item {
    position: relative;
    display: inline-block;
    width: 150px;
  }

  .contactBarLink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: lowercase;
    font-weight: 700;
    color: #D6BBC0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }

  .menu_item:hover .contactBarLink {
    opacity: 1;
    color: #D33E43;

  }

  .contactBarLogo {
    display: inline-block;
    position: relative;
    filter: invert(76%) sepia(12%) saturate(306%) hue-rotate(299deg) brightness(100%) contrast(91%);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }

  .menu_item:hover .contactBarLogo {
    transform: translateX(-60px);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    filter: invert(34%) sepia(54%) saturate(2208%) hue-rotate(331deg) brightness(86%) contrast(91%);
    opacity: 1;
  }